:root{
    --principal:#021313;
    --secundaria:#6e9987;
    --terciaria:#e0e4ce;
    --branco:#ffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    background-color: var(--principal);
}
/*Coisas relacionadas a capa principal*/

.capa-principal{
    background: linear-gradient(0deg, var(--principal), rgba(0,0,0,20%)) ,url(/img/capabat.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5em;
    padding-top: 4em;
    
}
.logo{
    font-size: 5em;
    color: var(--branco);
    padding-bottom: 0.3em;
}
.capa-principal{
    padding-top: 12%;
}

.titulo{
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
}
.descricao{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
    margin-bottom: 10px;
    
}

.botao{
    background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75));
    border-color: var(--terciaria);
    border-style: solid;
    border-width: 3px;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition: .3s ease-in-out;
    margin-right: 7px;
    cursor: pointer;
    
}
.botao:hover{
    background: var(--terciaria);
    color: var(--principal);
    border: none;
}
.botao i{
    margin-right: 7px;
}

.carrocel{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.titulo-carrocel{
    color: var(--branco);
    padding-top: 30px;
    padding-left: 80px;
}

footer{
    background-color: var(--terciaria);
    height: 150px;
    margin-top: 80px;

}
.informacoes{
    text-align: center;
    padding-top: 75px;
    color: var(--principal);
}